<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>EasyCast</title>

<!-- Bootstrap framework -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-theme.min.css">
	<!-- Table theme -->
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-table.css" />

<!-- main styles-->
	<link rel="stylesheet" href="/css/style.css" />

<!-- tooltip -->    
	<link rel="stylesheet" href="/lib/qtip2/jquery.qtip.min.css" />

<!-- splashy icons -->
	<link rel="stylesheet" href="/img/splashy/splashy.css" />

<!-- datatable -->
	<link rel="stylesheet" href="/css/TableTools.css" />

<!-- Angular Tab -->
	<link rel="stylesheet" href="/lib/angular/ng-material/angular-material.min.css" />

<!-- Angular Scrollable -->
	<link rel="stylesheet" href="/css/scrollable-table.css" />

<!-- datatable -->
	<link rel="stylesheet" href="/lib/angular/ng-table/ng-table.css" />

<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.png" />

<!-- Google Font -->
	<link href='/css/fonts.googleapis.com.css' rel='stylesheet' type='text/css'>

<!-- Custom Select CSS -->
	<link rel="stylesheet" href="/css/custom_select.css" />
	<noscript><link rel="stylesheet" type="text/css" href="/css/noJS.css" /></noscript>

<!--[if lte IE 8]>
	<script src="/js/vendor/ie/html5.js"></script>
	<script src="/js/vendor/ie/respond.min.js"></script>
<![endif]-->